.header-container {
    background-color: #1B1B1B;
}

nav {
    position: fixed;
    width: 1200px;
    padding: 10px 10px 10px 10px;
    background-color: #1B1B1B;
    z-index: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

nav .row {
    justify-content: space-between;
    align-items: center;
}

nav .brand-name h2{
    text-decoration: none;
    font-size: 22px;    
    font-weight: 600;
    color: #bbbbbb;
}

nav .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .navbar ul li {
    display: inline-block;
    margin-left: 30px;
    padding-right: 50px;
}

nav .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 17px;
    color: #bbbbbb;
    font-weight: 600;
}

a {
    padding: 10px 15px; /* makes target area bigger */
    color: #333; /* rgba backup */
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }

li a:hover, a:focus {
    color: #fff;
    background: #fff; /* rgba backup */
    background: rgba(255,255,255, 0.2);
    -webkit-border-radius: 4px; /* safari & chrome */
    -moz-border-radius: 4px; /* firefox */
    border-radius: 4px; /* futureproof */
  }

@media(max-width:450px) {
    nav {
        align-items: center;
    }
}